body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #8b4513; /* Wooden brown background */
}

#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#home-button {
  a {
    text-decoration: none;
    color: inherit;
  }
  align-self: flex-start;
  margin-left: 10vw; // Adjust as needed for your layout
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  background-color: brown;
  color: white;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px; // Creates space between the button and the title
}

#page-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; // Ensure the title takes full width to center it properly
  margin-bottom: 10px;
  color: white;
  text-align: center;
}

#game-area {
  position: relative;
  width: 60vw;
  height: 60vh;
  background-color: black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./assets/bedroom.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#character {
  position: absolute;
  width: 130px;
  height: 130px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  background-image: url("./assets/idle.gif");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 0 0;
}

.skill,
.interest {
  position: absolute;
  cursor: pointer;
  color: white;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

#skill-cloud {
  top: 10%;
  left: 20%;
}

#skill-security {
  top: 30%;
  left: 40%;
}

#interest-guitar {
  top: 50%;
  left: 60%;
}

#info-window {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 60%;
  margin-top: 20px;
  text-align: center;
  z-index: 10;
  transition: all 0.3s ease;

  h3 {
    margin-top: 0;
  }
}

.hidden {
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

//media queries for screen Sizes

@media (max-width: 1264px) {
  #character {
    height: 190px;
    width: 190px;
  }
}

@media (max-width: 1130px) {
  #page-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 850px) {
  #page-title {
    font-size: 1rem;
  }
}

@media (max-width: 650px) {
  #game-area {
    width: 85vw;
  }
}

@media (max-width: 560px) {
  #page-title {
    font-size: 0.8rem;
  }
}

@media (max-width: 450px) {
  #page-title {
    font-size: 0.6rem;
  }
  #game-area {
    width: 95vw;
  }
  #character {
    height: 160px;
    width: 160px;
  }
}
